.menu-page-container {
    background-image: url("../../assets/mainfood1.jpg");
    height: 100vh;
    background-size: cover; /* Масштабирование изображения, чтобы оно занимало всю доступную область */
    background-repeat: no-repeat;
    position: relative;
}

.menu-container {

}